.boton-guardar{
    border-radius: 10px;
    margin: 0.7em;
    text-transform: capitalize;
    background-color: black;
    color: yellow;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
}
.form-edit{
    margin-bottom: 1.5em;
    padding: 0.5em;
    border-radius: 7px;
    border: none;
}