.container{
    margin: 5% auto;
    background-color: #d7d9beb8;
    padding: 0;
    height: auto;
    width: 70%;
}
.titulo{
    text-align: center;
    font-family: fantasy;
    font-size: 55px;
    font-style: italic;
    text-transform: capitalize;
    background: #000000f0;
    color: yellow;
}
.lista-contactos{
    margin: 0 0 0 1em;
}
.datos-contactos{
    margin: 1em;
}
.nombre-contacto{
    font-size: 22px;
    font-family: sans-serif;
    padding: 4px;
}
.fa-user, .fa-phone, .fa-envelope, .fa-map-pin{
    font-size: 16px;
    margin: 0 0.5em 0 0;
    color: black
}
.telefono-contacto{
    font-size: 15px;
    margin: 0 0 0.5em 0;
}
.correo-contacto{
    font-size: 15px;
    margin: 0 0 0.5em 0;
}
.direccion-contacto{
    font-size: 15px;
    margin: 0 0 0.5em 0;
}
.boton-editar{
    border: none;
    background: none;
}
.boton-eliminar{
    border: none;
    background: none;
}
.boton-contacto{
    border-radius: 10px;
    margin: 0.7em;
    text-transform: capitalize;
    background-color: black;
    color: yellow;
}
.boton-contacto:hover{
    
}
p{
    margin: 0;
    color: #3f3e3e;
}
.botones-opciones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}